### Python ###
.idea/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
core/.env

*.sqlite3
*.jpg
*.png
venv/
*/migrations/00*

### Project specific ###
settings_local.py
*/silk/*

### celery ###
celerybeat-schedule
celerybeat.pid
